# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# 签名/密钥（切勿提交）
*.mobileprovision
*.p12
*.certSigningRequest
